/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.clj-kondo/
/.lsp/
/.cpcache/
/node_modules/
/.shadow-cljs/
/resources/*/public/*/compiled
/resources/lib/
/resources/client/public/lib/
/bb
/bb.build_artifacts.txt
/app
/app.build_artifacts.txt
